<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<configuration>
		<add name="ketnoi" connectionString="Data Source=LAB2-MAY11\SQLEXPRESS;Initial Catalog=QLBH;Integrated Security=True"></add>
	</configuration>
</configuration>